<div class="modal-header">
    <h4 class="modal-title text-center text-uppercase">Log in</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form #authorization="ngForm" (ngSubmit)="logIn(vm.auth)">
        <div class="form-group position-relative mb-3">
            <label for="email">Email address</label>
            <input
                type="emai"
                class="form-control"
                [ngClass]="{
                    'is-invalid': (email.invalid && email.touched),
                    'is-valid': (email.valid && email.touched)
                }"
                id="email"
                name="email"
                #email="ngModel"
                [(ngModel)]="vm.auth.email"
                aria-describedby="emailHelp"
                placeholder="Enter email"
                pattern="^.{2,}[@]{1}[\w\.\S]{2,}[\.]{1}[A-Za-z]{2,}$"
                required="required"
                    >
            <div
                class="invalid-tooltip"
                *ngIf="email.invalid && email.touched"
                    >
                <div
                    *ngIf="email.errors.required"
                        >
                    Email is required
                </div>
                <div
                    *ngIf="email.errors.pattern"
                        >
                    Email is invalid. Please try again
                </div>
            </div>
        </div>
        <div class="form-group position-relative mb-4">
            <label for="password">Password</label>
            <input
                type="password"
                class="form-control"
                [ngClass]="{
                    'is-invalid': (password.invalid && password.touched),
                    'is-valid': (password.valid && password.touched)
                }"
                id="password"
                name="password"
                #password="ngModel"
                [(ngModel)]="vm.auth.password"
                placeholder="Password"
                minlength="6"
                required="required"
                    />
            <div
                class="invalid-tooltip"
                *ngIf="password.invalid && (password.dirty || password.touched)"
                    >
                <div
                    *ngIf="password.errors.required"
                        >
                    Password is required.
                </div>
                <div *ngIf="password.errors.minlength">
                    Password must be at least 6 characters long.
                </div>
            </div>
        </div>
        <div class="text-center">
            <button
                type="submit"
                class="btn btn-sh btn-sh-dark w-50"
                [disabled]="!authorization.form.valid"
                    >
                Log in
            </button>
        </div>
    </form>
</div>

