/* base layout behavior */
html {
    height: 100%;
    min-height: 100%;
    position: relative;

    // temporary variables
    @header-height: 100px;
    @footer-height: 120px;


    #layout {
        margin: 0;
        padding: 0;
        min-height: 100%;
        position: relative;

        #header {
            overflow: hidden;
            // test props to separate page root components
            background: red;
            height: @header-height;
        }

        #main {
            // not known error with ui-view display: block
            // display: block;
            // overflow: hidden;
            // NOTE alternate solution
            width: 100%;
            display: inline-block;
            // test props to separate page root components
            min-height: ~'calc(100vh - '@header-height + @footer-height~')';
        }

        #footer {
            border-top: 1px solid @light-grey;
            box-shadow: 0px -2px 6px 0px @grey;
            background-color: @light-grey;
        }

    }

}
